[submodule "gperftools"]
	path = gperftools
	url = https://github.com/gperftools/gperftools.git
[submodule "third_party/libzmq"]
	path = third_party/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
